#title{
    background-color: #ff4c68;
    color: white;
}
body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: bolder;
    font-size: 4rem;
    line-height: 1.5;
}


.container-fluid{
    padding:3% 15%;
}

.navbar{
    padding-bottom: 5rem;
}
.navbar-brand{
    font-family:'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
}
.nav-item{
    padding: 0 16px;
}

.nav-link{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.download-button{
    margin: 3% 5% 0% 0%;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
}


#features{
text-align: center;
/* width:70%; */
padding: 7% 12%;
}


.feature-icon{
    color:#ff4c68;
    padding-bottom: 20px;
}

h3{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


.feature-icon:hover{
    color:#f80355;
}

.features-box{
    padding: 5%;
}

#testimonials{
    background-color: #ff4c68;
    text-align: center;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
}

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 5%;
}

.press-logo{
    width: 15%;
    margin: 20px;
}

.carousel-item{
    padding: 5% 20%;
}